@import "helpers";

.dialogs{
  display: grid;
  grid-template-columns: 2fr 10fr;
  background-color: $gray;
  gap: 10%;
  height: 100vh;
  
  &-items{
    padding: 10px;
    
  }
  &-item{
    display: flex;
    align-items: center;
    padding: 10px 50px 10px 10px;
    margin: 3px;
    border: 1px solid $light;
    border-radius: 4px;
    &:hover{
      background-color: rgba($medium, .3);
    }
  }
}
.chat{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.messages{
  padding: 10px;
  flex: 1 0 auto;
}

.message{
  color: $dark;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: $light;
  padding: 0.8rem;
  margin: 3px;
  width: 60%;
  
}

.dialog{
  color: $light;
  text-decoration: none;
}

.avatar{
  width: 60px;
  height: 60px;
  border: 1px solid transparent;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.new-message{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;
  textarea{
    width: 100%;
  }
}
