@import "helpers";

.nav{
  // grid-area: nav;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  background-color: $dark-transparent;
  max-width: 17%;
  height: 100vh;
  &-item{
    margin: 15% 20%;
    // padding: 15px 55px;
  }
  &-link{
    color: $light;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: 0.3s;
    font-weight: 500;
    font-size: 18px;
    &:hover{
      border-bottom: 1px solid $light; 
    }
  }
}

.mini-ava{
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 50%;
  object-fit: cover;
  margin: 4px;
}

.friends-pre{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid $light;
  border-radius: 4px;
  margin-top: 15px;
}
