@import "helpers";

.content{
  // grid-area: content;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  max-width: 100%;
  display: grid;
  grid-template-rows: 2fr 2fr 2fr;
  height: 100vh;
  // margin: 10px;

  &-banner__img {
    background-image: url('../img/banner.jpg');
    grid-row: 1 / 2;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
  }
  
}

.profile{
  grid-row: 2 / 3;
}
.posts{
  grid-row: 3 / 4;
  margin-top: 20px;
}

.my-posts{
  &__item{

  }
}

.new-post{
  margin: 30px 0;
}