@import "Header";
@import "Navbar";
@import "Profile";
@import "Dialogs";
@import "Users";
@import "helpers";
@import "Preloader";
@import "Pagination";

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');



*, html{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: $gray;
  font-family: 'Quicksand', sans-serif;
}

.app-wrapper {
  display: grid;
  width: 100%;
  // grid-template-areas:
  // "header header header"
  // "header header header"
  // "nav content content";
  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 5px;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.active{
  color: $dark;
}

.content{
  // grid-area: content;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  max-width: 100%;
  display: grid;
  grid-template-rows: 2fr 2fr 2fr;
  height: 100vh;
  padding-left: 20px;
}

.button{
    font-weight: bold;
    border: 1px solid $dark;
    background-color: $dark;
    color: $light;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}
.textarea{
  padding: 15px;
  border-radius: 4px;
  border: 1px solid $dark;
  margin-right: 10px;
  background: transparent;
}








